// 	公用头部高度
.content {
	padding-top: var(--status-bar-height);
}

// 头部公用样式
.top_bar {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 88rpx;
	padding-top: var(--status-bar-height);

	.top_bar_left {
		float: left;

		image {
			margin-top: 18rpx;
			width: 52rpx;
			height: 52rpx;
			border-radius: $uni-border-radius-sm;
		}
		
		.back-img{
			width: 88rpx;
			height: 88rpx;
			padding-left: 14rpx;
			text-align: center;
			
			image{
				margin-top: 18rpx;
				width: 52rpx;
				height: 52rpx;
			}
		}
	}

	.top_bar_center {
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;

		image {
			padding-top: 20rpx;
			width: 125rpx;
			height: 46rpx;
		}
	}

	.top_bar_right {
		float: right;

		.search {
			width: 88rpx;
			height: 88rpx;
			display: inline-block;
		}

		.add {
			width: 88rpx;
			height: 88rpx;
			padding-right: 14rpx;
			display: inline-block;
		}
		
		.text {
			font-size: $uni-font-size-lg;
			font-weight: bold;
			color: $uni-text-color;
			line-height: 88rpx;
			padding-right: 32rpx;
		}
		
		.more-img{
			width: 88rpx;
			height: 88rpx;
			padding-right: 14rpx;
			display: inline-block;
			text-align: center;
			
			image{
				width: 60rpx;
				height: 60rpx;
				margin-top: 9rpx;
			}
		}
	}
}


/* 底部样式 */
.bottom-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 90rpx;
	padding-top: 10rpx;
	padding-bottom: var(--status-bar-height);
}
	
.btn1 {
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	font-size: 32rpx;
	border-radius: $uni-border-radius-sm;
	color: $uni-text-color-inverse;
}